@using CNPM_64131196.Models
@using CNPM_64131196.helper
@{
    ViewBag.Title = "LichLamViec";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
    List<LichLamViecPT> lichLamViec = ViewBag.lichLamViec;
}

@{
    KhachHang kh = (KhachHang)Session["user"];
    if (kh == null)
    {
        <input type="hidden" id="login" value="0" />
    }
    else
    {
        <input type="hidden" id="login" value="1" />
    }
}
<input type="hidden" id="txtIDPersonalTrainer" value="@lichLamViec[0].HuanLuyenVien.ID" />
<!-- Courses Start -->
<div class="container-fluid courses overflow-hidden py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h1 class="display-4 text-white mb-4">Lịch huấn luyện</h1>
            <p class="text-white mb-0">
                @ViewBag.quote
            </p>
        </div>
        <div class="row gy-4 gx-0 justify-content-center">
            @foreach (var item in lichLamViec)
            {
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="courses-item">
                        <div class="courses-item-inner p-4">
                            <div class="d-flex justify-content-between mb-4">
                                <div class="courses-icon-img p-3">
                                    <img src="~/assets/img/icon-1.png" class="img-fluid" alt="">
                                </div>
                                <div class="data-info d-flex flex-column">
                                    <div class="courses-trainer d-flex align-items-center mb-1">
                                        <div class="me-2" style="width: 25px; height: 25px;">
                                            <img src="~/Images/avatar/@item.HuanLuyenVien.AnhDaiDien" class="img-fluid" alt="">
                                        </div>
                                        <p class="mb-0">@item.HuanLuyenVien.Ten</p>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="d-inline-block h5 mb-3" style="font-family: 'Roboto', Arial, sans-serif;">Thứ: @item.Thu</a>
                            @{ DateTime ngayTap = DateHelper.getNextDateByDayOfWeek((DayOfWeek)item.Thu - 1);}
                            <a href="#" class="d-inline-block h5 ms-5 mb-3 " style="font-family: 'Roboto', Arial, sans-serif;">Ngày: @ngayTap.ToString("dd/MM/yyyy")</a>
                            <p class="mb-4">
                                Thời gian: @(item.GioBatDau?.ToString(@"hh\:mm")) - @(item.GioKetThuc?.ToString(@"hh\:mm"))
                            </p>
                            <input type="hidden" class="txtThuHid" value="@item.Thu.ToString()"/>
                            <input type="hidden" class="txtNgayTapHid" value="@ngayTap.ToString("dd/MM/yyyy")"/>
                            <input type="hidden" class="txtGioBatDauHid" value="@(item.GioBatDau?.ToString(@"hh\:mm"))"/>
                            <input type="hidden" class="txtGioKetThucHid" value="@(item.GioKetThuc?.ToString(@"hh\:mm"))"/>

                            @{
                                MapDatLichPT mapDatLich = new MapDatLichPT();

                                bool ok = mapDatLich.isTrainingScheduleExists(item.HuanLuyenVien.ID, ngayTap);

                                if (!ok)
                                {
                                    <a href="#" class="btn btn-primary py-2 px-4 btnDatLich" data-id="@item.ID"> <span>Đặt ngay</span></a>
                                }
                                else
                                {
                                    <button class="py-2 px-4 btnRegistered" style="color: #c80036; border: 4px solid #c80036;
                                    background-color: transparent; border-radius: 20px; padding: 10px 20px; font-weight:600; cursor: default;">
                                        <i class="fas fa-check me-2"></i><span>Đã hết lượt</span>
                                    </button>
                                }
                            }


                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
<!-- Courses End -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <input type="hidden" id="IDLichTap" value="0" />
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Xác nhận đăng ký</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                @*<i class="fas fa-exclamation-triangle warning-icon"></i>*@ <i class="fas fa-question-circle warning-icon"></i>
                <p class="mb-0 modal-title">Bạn có chắc muốn đăng ký thời gian này?</p>
                <span class="modal-title">Thứ: </span>
                <span id="txtThu" class="me-5 mt-1 modal-title"></span>
                <span class="modal-title ms-6">Ngày: </span>
                <span id="txtNgayTap" class="mt-1 modal-title"></span>
                <p class="modal-title">Giờ: <span id="txtGioBatDau" class="me-1"></span>-<span id="txtGioKetThuc" class="ms-1"></span></p>
            </div>          
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times me-2"></i>Để nghĩ lại
                </button>
                <button type="button" class="btn btn-danger btnDangKy">
                    <i class="fas fa-check me-2"></i>Chắc chắn rồi @*<i class="fa-solid fa-check"></i>*@
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="statusErrorsModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center p-lg-4">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                    <circle class="path circle" fill="none" stroke="#db3646" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                    <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
                    <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
                </svg>
                <h4 class="text-danger mt-3">Lỗi rồi!</h4>
                <p class="mt-3" id="txtError"></p>
                <button type="button" class="btn btn-sm mt-3 btn-danger" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="statusSuccessModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center p-lg-4">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                    <circle class="path circle" fill="none" stroke="#198754" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                    <polyline class="path check" fill="none" stroke="#198754" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                </svg>
                <h4 class="text-success mt-3" id="txtSuccess"></h4>              
                <button type="button" class="btn btn-sm mt-3 btn-success" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

    @section scripts {
        <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDatLich', function () {
                var isLogin = $('#login').val();
                if (isLogin == 0) {
                    window.location.href = '@Url.Action("DangNhap", "Home")';
                }

                var id = $(this).data('id');              
                var container = $(this).closest('.courses-item-inner');
                var thu = container.find('.txtThuHid').val();
                var ngayTap = container.find('.txtNgayTapHid').val();
                var gioBatDau = container.find('.txtGioBatDauHid').val();
                var gioKetThuc = container.find('.txtGioKetThucHid').val();

                $('#IDLichTap').val(id);
                $('#txtThu').text(thu);
                $('#txtNgayTap').text(ngayTap);
                $('#txtGioBatDau').text(gioBatDau);
                $('#txtGioKetThuc').text(gioKetThuc);

                $('#confirmModal').modal('show');
            });
            
            $('body').on('click', '.btnDangKy', function () {
                $('#confirmModal').modal('hide');
                var idPT = $('#txtIDPersonalTrainer').val();
                var idLichtap = $('#IDLichTap').val();

                $.ajax({
                    url: '/huanluyenvien/dangkylichtap',
                    type: 'POST',
                    data: { idPTrainer: idPT, idLichTap: idLichtap },
                    success: function (res) {
                        if (res.Success) {                            
                            $('#txtSuccess').text(res.msg);
                            $('#statusSuccessModal').modal('show');
                        }
                        else {                          
                            $('#txtError').text(res.msg);
                            $('#statusErrorsModal').modal('show');
                        }
                    }
                });
            });
         
        });
        </script>
    }
