@model CNPM_64131196.Models.KhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KhachHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhDaiDien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDangKyLanDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDangKyLanDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayBatDauGoiTap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBatDauGoiTap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKetThucGoiTap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetThucGoiTap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrangThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoiTap.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoiTap.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VaiTro.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaiTro.Ten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
